<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To do</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
  <body>
    <h1>Add a Contact:</h1>
    <form action="/contact_created" method="post">
      <label for="new-name">Name:</label>
      <input id="new-name" name="new-name" type="text">
      <label for="new-phone">Phone:</label>
      <input id="new-phone" name="new-phone" type="text">
      <label for="new-address1">Address Line:</label>
      <input id="new-address1" name="new-address1" type="text">
      <label for="new-address2">City, State, Zip:</label>
      <input id="new-address2" name="new-address2" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
