<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To do</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
  <body>
    <h1>Welcome to your Contact List!</h1>
    <p><a href="/add_contact">Add a Contact!</a></p>
    <a href='/contacts'>View all Contacts</a>
  </body>
</html>
